.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  background-color: aliceblue;
  padding: 1rem 3rem;
}

.authentication form {
  margin-bottom: 1rem;
}